<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @products.each_with_index do |product, index| %>
    <li data-target="#carousel" data-slide-to="<%= index %>" class="<%= "active" if product == @products.first %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @products.each do |product| %>
    <div class="item<%= " active" if product == @products.first %>">
      <%= image_tag(product.image_url, class: 'img-responsive tea-pics') %>
      <div class="carousel-caption">
        <%= product.name %>
      </div>
    </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> <!-- END CAROUSEL -->

<hr />

<!-- THREE DESCRIPTIONS -->
<div class='container three-desc-section'>
  <div class='row'>
    <div class='col-md-4'>
      <h1>Japanese Tea</h1>
      <%= image_tag('gmcha.jpg', class: 'img-responsive three-desc-pics') %>
      <p>Japanese people have the longest average lifespan on the planet. They also drink Japanese tea. We sell Japanese tea. Just saying...</p>
    </div>
    <div class='col-md-4'>
      <h1>Chinese Tea</h1>
      <%= image_tag('ooloncha.jpg', class: 'img-responsive three-desc-pics') %>
      <p>The first cup of tea was brewed in China (accidentally) millennia ago. Imagine how good authentic Chinese tea must be today. Well, don't imagine. Order some from us.</p>
    </div>
    <div class='col-md-4'>
      <h1>Tea Accessories</h1>
      <%= image_tag('brewer.jpg', class: 'img-responsive three-desc-pics') %>
      <p>We have everything you need to get started drinking tea. "All I need is a teapot and a cup!", you say? You want to brew it right, don't you? Get your tea accessories here.</p>
    </div>
  </div>
</div>
<!-- END THREE DESCRIPTIONS -->
