<div id='authentication-pages'>
  <div class='authentication-pages-background'>
    <div class='authentication-pages-content'>

      <h2>Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <br />

      <div class="actions">
        <p>Click "Send" and we'll send you password reset instructions to your email address.</p>
        <%= f.submit "Send", class: 'btn btn-primary btn-block' %>
      </div>
      <% end %>

      <div class='shared-links-buttons'>
        <div>
          <%- if controller_name != 'sessions' %>
          <%= link_to "Log in", new_session_path(resource_name) %><br />
          <% end -%>
        </div>

        <div class='forgot-password-sign-up-link'>
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name) %><br />
          <% end -%>
        </div>
      </div>


    </div>
  </div>
</div>
