<!-- NAVIGATION BAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- BRAND -->
      <%= link_to "Chamisama", root_path, class: "navbar-brand" %>

    </div>

    <!-- RIGHT SIDE OF NAVIGATION BAR -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to "About", simple_pages_about_path %></li>

        <li><%= link_to "Contact", simple_pages_contact_path %></li>

        <li>
          <%= form_with(url: products_path, method: 'get', local: true, class: "navbar-form") do |form| %>
          <%= form.text_field :q, id: 'q', value: params[:q], class: "form-control", placeholder: "product" %>
          <%= form.submit 'Search', class: "btn btn-primary" %>
          <% end %>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "All Products", products_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Green Teas", products_path({ :tea_color => "green"}) %></li>
            <li><%= link_to "Black Teas", products_path({ :tea_color => "black"}) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Japanese Teas", products_path({ :country => "Japan"}) %></li>
            <li><%= link_to "Chinese Teas", products_path({ :country => "China"}) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Tea Accessories", products_path({ :tea_color => ""}) %></li>
          </ul>
        </li>

        <% if user_signed_in? %>
        <li class="dropdown">
          <% if current_user.first_name == "" || !current_user.first_name %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <% else %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name.capitalize %> <span class="caret"></span></a>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "Change Personal Info", edit_user_path(current_user) %></li>
            <li><%= link_to "Change Account Info", edit_user_registration_path %></li>
          </ul>
        </li>
        <% else %>
        <%= link_to('Login', new_user_session_path, class: 'btn btn-primary navbar-btn', id: 'sign-in-or-out-button') %>
        <% end %>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- END NAVIGATION BAR -->
