<div id='order-index'>
  <div class='order-background'>
    <h1 class='text-center'>Orders</h1>

    <div class="row">
      <% @orders.each do |order| %>
      <%= link_to order, :class => 'individual-order-link' do %>
      <div class='individual-orders'>
        <h3>
          Order # <%= order.id %>:
          <%= order.product.name %>
        </h3>
        <% if current_user.admin? %>
        <p>Name: <%= "#{order.user.first_name} #{order.user.last_name}" %></p>
        <p>Email: <%= order.user.email %></p>
        <% end %>
        <p><%= order.product.description %></p>
        <strong>$<%= "%.2f" % Rational(order.product.price_in_pennies.to_i,100) %></strong>
      </div>
      <% end %>
      <% end %>
    </div>

  </div>
</div>
