<div class='product-form'>
<%= form_with(model: product, local: true) do |form| %>
<% if product.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul>
    <% product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name, id: :product_name, class: "form-control" %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description, id: :product_description, class: "form-control" %>
</div>

<div class="field">
  <%= form.label :image_url %>
  <%= form.text_field :image_url, id: :product_image_url, class: "form-control", :readonly => true, placeholder: 'image of tea product' %>
  <p class='text-muted'>This field is disabled for demonstration</p>
</div>

<div class='field'>
  <%= form.label :colour %>
  <%= form.text_field :colour, id: :product_colour, class: "form-control" %>
</div>

<div class='field'>
  <%= form.label :country %>
  <%= form.text_field :country, id: :product_country, class: "form-control" %>
</div>

<div class='field'>
  <%= form.label :price_in_pennies %>
  <%= form.text_field :price_in_pennies, id: :product_price_in_pennies, class: "form-control", placeholder: 'Enter this: 3499, Not this: 34.99' %>
</div>

<div class="actions">
  <%= form.submit 'Submit', class: 'btn btn-default' %>
</div>
<% end %>
</div>
