<div id='product-index'>
  <div class='product-background'>
    <% if can? :manage, Product %>
    <%= link_to 'Click to Add a New Product', new_product_path, class: 'btn btn-success' %>
    <% end %>
    <p id="notice"><%= notice %></p>

    <h1><%= @title %></h1>

    <div class='container'>
      <div class='row text-center'>
        <!-- <% @products.each do |product| %>
        <%= render partial: "product", locals: {product: product} %>
        <% end %> -->
        <%= render @products %>
      </div>
    </div>

    <br>

    <% if can? :manage, Product %>
    <%= link_to 'Click to Add a New Product', new_product_path, class: 'btn btn-success' %>
    <% end %>

  </div>
</div>
