<!DOCTYPE html>
<html>
<head>
  <title>Chamisama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body data-spy='scroll' data-target='.navbar'>

<%= render partial: "shared/navigation_bar" %>

  <% if notice %>
  <div class="alert alert-info alert-dismissible landing-page-alerts custom-notice" role="alert">
    <%= notice %>
  </div>
  <% end %>

  <% if alert %>
  <div class="alert alert-danger alert-dismissible landing-page-alerts custom-notice" role="alert">
    <%= alert %>
  </div>
  <% end %>

<%= yield %>

<!-- FOOTER -->
<footer class="footer">
  <p class="text-muted">&copy; 2017 Chamisama Tea</p>
</footer>
<!-- END FOOTER -->



</body>
</html>
<!--
put big pictures of tea fields and stuff on carousel
add 'type' column to products db for tea, food, accessory
improve ui for 'show' pages

redesign product index to show bigger pictures - there's too much white space
